.pw {
  &::ng-deep {
    .containerMain {
      @apply max-w-7xl mx-auto py-6 px-6 sm:px-6 lg:px-10
    }
    .containerFullWithMain {
      @apply py-6 px-4 sm:px-6 lg:px-8
    }
    .containerTiny {
      @apply max-w-4xl mx-auto px-4 sm:px-6 lg:px-8
    }

    .btn {
      @apply font-bold py-2 px-4 rounded transition duration-300 hover:shadow-xl;
    }
    .btn-blue {
      @apply bg-blue-700 text-white;
    }
    .btn-blue:hover {
      @apply bg-blue-800;
    }
    .btn-orange {
      @apply bg-yellow-600 text-white;
    }
    .btn-orange:hover {
      @apply bg-yellow-700;
    }
  }
}
