<div class='pw'>
  <test-reign-nx-spinner></test-reign-nx-spinner>
  <test-reign-nx-header [title]="'HN Feed'" [subTitle]="'We <3 hacker news'"></test-reign-nx-header>
  <router-outlet></router-outlet>
</div>
