@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #4a5568;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(74, 74, 74, .8);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
