table {
  width: 100%;
  tr {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    td {
      padding: 10px 0;
      color: #333;
      .author {
        color: #999
      }
    }
    &:last-of-type {
      border-bottom: 0;
    }
    &:hover {
      background-color: #fafafa;
    }
  }
}

button {
  @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded
}
