<test-reign-nx-alert></test-reign-nx-alert>
<table class="table-auto">
  <tbody>
  <tr *ngFor="let post of posts" (click)="goToUrlPost(post.url)">
    <td class="title">{{post.title}} <small class="author"> - {{post.author}} -</small></td>
    <td class="createAt">{{post.createdAt}}</td>
    <td class="actions">
      <button (click)="removeItem($event, post.postId)" >X</button>
    </td>
  </tr>
  </tbody>
</table>

